body {
    font-family: Arial, sans-serif;
    background-color: blue;
    margin: 0;
    padding:5px 20px;
}



/*navbar*/
.nav-item{
          letter-spacing:.2em;
          font-size:14px;
          text-transform:uppercase;
          }

.dropdown-item{
           letter-spacing:.2em;
           font-size:14px;
           text-transform:uppercase}


.my_footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* Style for the footer text */
.my_footer p {
    margin: 0; /* Remove default margin for the paragraph */
    font-size: 14px; /* Font size for the text */
}


/*category page*/

.my_row_class{
              padding-top:15px;
              }
.my_row_class .mx-auto{
              color:#000;
              font-size:12px;}

.my_image{
         width:100%;
         height:300px;
         }

.my_title{
         font-size:16px;
         text-transform:uppercase;
         letter-spacing:.2em;}

.my_image_padding{
          padding:5px;
          }

.my_bottom_margin{
          margin-bottom:10px;}

.card-body h4{
          font-size:14px;
          text-transform:uppercase;
         letter-spacing:.2em;}


/*product*/

/* Container Styles */
.container {
  padding: 20px;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Product Title Styles */
.my_prod_title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

/* Price Styles */
p {
  font-size: 18px;
  margin-top: 10px;
}

/* Product Description Styles */
.my_title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.my_prod_text {
  font-size: 16px;
}

/* Out of Stock Styles */
.my_prod_text b {
  color: red;
}

/* Add to Cart Button Styles */
.btn-secondary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-secondary:hover {
  background-color: #0056b3;
}


/*searchbar*/
.my_search_text{
           padding-top:20px;
           }


/* cart */

.my_custom_table{
          min-width:400px;
          font-size:14px;
          }

.my_custom_thead{
            font-weight:normal;
            text-transform:uppercase;
            letter-spacing:.2em;
            background-color:#662549;}

.custom_a{
           text-decoration:none;
           }

.custom_icon{
            text-decoration:none;
            color:red;}
.my_custom_button{
            margin-top:5px;}